<div class="archives">
  <%= link_to "佐々木&松谷", "https://www.youtube.com/watch?v=Mpng0yOYT2k", target: :_blank, rel: "noopener noreferrer" %>
  <br>
  <%= link_to "志賀&舘", "https://www.youtube.com/watch?v=H-xFgol1Jg0", target: :_blank, rel: "noopener noreferrer" %>
  
  <br><%= link_to "蔵屋&小川", "https://youtu.be/S7s8imR2ylU", target: :_blank, rel: "noopener noreferrer" %>
</div>