@import "bootstrap-sprockets";
@import "bootstrap";

.welcom{
  padding-top: 100px;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  font-size: 5rem;
  padding-bottom: 60px;
}
.kaltetitle {
  text-align: center;
  font-family: serif;
  font-weight: bold;
  font-size: 5rem;
  padding-top: 30px;
  padding-bottom: 30px;
}
.welcome {
  padding-top: 100px;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 5rem;
  padding-bottom: 60px;
}
.return{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.touroku{
  margin: 30px;
}

.target {
  text-align: center;
  font-weight: lighter;
}

.targetname {
  text-align: center;
  font-weight: normal;
  border-bottom: solid 1px;
  padding-bottom: 10px;
}
.comment {
  text-align: center;
  font-weight: lighter;
  margin-top: 10px;
}
.commentcontent {
  text-align: center;
  font-weight: normal;
  border-bottom: solid 1px;
  padding-bottom: 10px;
}
.fbcomment {
  text-align: center;
  font-weight: lighter;
  margin-top: 10px;
}
.fbcontent {
  text-align: center;
  font-weight: normal;
  margin-top: 10px;
  padding-bottom: 10px;
  color:pink;
  border-bottom: solid 1px;
  border-color: black;
}

.actday {
  text-align: center;
  margin-bottom: 30px;
}
.editbuttun {
  text-align: center;
  margin-top: 30px;
  font-size: medium;
}
.btn {
  margin-top: 10px;
  text-align: center;
}
.impmark {
  text-align: center;
  font-weight: lighter;
  margin-top: auto;
}
.imp {
  text-align: center;
  font-weight: normal;
  border-bottom: solid 1px;
  padding-bottom: 10px;
}
.butn {
  text-align: center;
}
.sumi {
  color: green;
}
.mada {
  color: red;
}
.welcomepage {
  background-image: image-url('main-bg.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.formcont {
  margin-bottom: 15px;
}
.hatusanka {
  margin-top: 30px;
  padding-bottom: 180px;
}
.fp {
  margin-top: 20px;
}
.username {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-family: serif;
}
.newkalte {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
.toall {
  text-align: center;
}
.logout {
  text-align: center;
}