@import "bootstrap-sprockets";
@import "bootstrap";

.welcom{
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: large;
  margin: 20px;
}
.return{
  margin-top: 30px;
  text-align: center;
}
.touroku{
  margin: 30px;
}

.target {
  text-align: center;
  font-weight: lighter;
}

.targetname {
  text-align: center;
  font-weight: normal;
  border-bottom: solid 1px;
  padding-bottom: 20px;
}
.comment {
  text-align: center;
  font-weight: lighter;
  margin-top: 20px;
}
.commentcontent {
  text-align: center;
  font-weight: normal;
  border-bottom: solid 1px;
  padding-bottom: 20px;
}
.fbcomment {
  text-align: center;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: solid 1px;
  padding-bottom: 20px;
}
.fbcontent {
  text-align: center;
  font-weight: normal;
  margin-top: auto;
  color:pink;
}

.acttitle {
  text-align: center;
  font-family: cursive;
  font-weight: initial;
  margin-bottom: 10px;
}
.actday {
  text-align: center;
  margin-bottom: 30px;
}
.editbuttun {
  text-align: center;
  margin-top: 30px;
  font-size: medium;
}
.btn {
  margin-top: 10px;
  text-align: center;
}
.impmark {
  text-align: center;
  font-weight: lighter;
  margin-top: auto;
}
.imp {
  text-align: center;
  font-weight: normal;
  border-bottom: solid 1px;
  padding-bottom: 20px;
}
.butn {
  text-align: center;
}
.sumi {
  color: green;
}
.mada {
  color: red;
}